html,
body {
  height: 100%;
  background:  #FF6F00; 
}

body {
  margin: 0;
  background:  #FF6F00; 
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

thirty-root {
  display: flex;
  background:  #FF6F00; 
  flex-direction: column;
  flex: 1;
}

mat-sidenav {
  margin:20px;
  width: 100px;
  background-color: rgb(154, 59, 59) !important;
  border-radius: 50px;
  text-align: center;
}

.accent {
  color: #FFA000;
}

.mat-sidenav-container {
  background:  #FF6F00; 
  flex: 1;
  border-radius: 0px 0px 20px 0px;
}

.fruit-containers {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  border-radius: 8px;

  .fruit-list {
    width: 49%;
  }

  .fruit-info {
    width: 49%;
  }

  .mat-card-dark {
    background-color: grey;
  }
}
