<mat-card>
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="lesson.id !== null; else elseBlock">
          Editing Lesson
        </span>
        <ng-template #elseBlock>
          Create Lesson
        </ng-template>
      </mat-card-title>
    </mat-card-header>
  <form #form="ngForm" (ngSubmit)="saved.emit(lesson);">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput required name="title" placeholder="Title" type="text"
          [(ngModel)]="lesson.title">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <textarea  matInput required name="description" placeholder="Description" type="text"
            [(ngModel)]="lesson.description">
          </textarea> 
      </mat-form-field> 
      <section class="full-width">
        <h4>{{ lesson.percentComplete }}% Complete</h4>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          name="percentComplete"
          [(ngModel)]="lesson.percentComplete">
        </mat-slider>
      </section>
      <section>
        <mat-checkbox matInput name="favorite"
          [(ngModel)]="lesson.favorite">
        </mat-checkbox> 
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" type="submit" mat-button color="primary">Save</button>
      <button styles="right: 5%" type="button" mat-button (click)="cancelled.emit();form.reset();">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>